.counteiner {
	background: #9cb9d1;
	width: 768px;
	margin: 0 auto;
}

.slide .item img
	{
		width: 150px;
		height: 150px;
		display: block;
	}	
.slide .item 
{
	width: 100px;
	display: block;
	float: left;
	margin: 10px;
}	

.span_item
	{
		color: #094d74;
	}
.slide_pagination .item
	{
		background: url(../img/sprite2.png) -64px 0px no-repeat;
		display: inline-block;
		width: 15px;
		height: 15px;

	}
.clearfix {clear: both;}
.slide
	{
		border: 2px solid black;
	}
#logo{
	width: 150px;
	height: 50px;
}
.anchor{
	margin: 5px;

}
#anchors{
	float: right;
	margin-top: 30px;
}
#hedertext{
	width: 400px;
	float: left;
}
#sportheder{
	width: 300px;
	height: 200px;
}
#hederbot{
	background: #cfdaec;
	padding-top: 20px;
}
.footer-pagination .twit
{
	background: url(../img/sprite1.png) 0 -154px no-repeat;
	display: inline-block;
	width: 75px;
	height: 75px;
}
.footer-pagination .facebook
{
	background: url(../img/sprite1.png) -76px 0px no-repeat;
	display: inline-block;
	width: 75px;
	height: 75px;
}
.footer-pagination .vk
{
	background: url(../img/sprite1.png) -228px -75px no-repeat;
	display: inline-block;
	width: 75px;
	height: 75px;
}
#contact{
	background: #cfdaec;
}
#catalog{
	background: #cfdaec;
}
#info{
	height: 400px;
	background: #cfdaec;
}