.counteiner {
	background: #9cb9d1;
	width: 768px;
	margin: 0 auto;
}

.slide .item img
	{
		width: 150px;
		height: 150px;
		display: block;
	}	
.slide .item 
{
	width: 100px;
	display: block;
	float: left;
	margin: 10px;
}	

.span_item
	{
		color: #094d74;
	}
.slide_pagination .item
	{
		background: url(../img/sprite2.png) -64px 0px no-repeat;
		display: inline-block;
		width: 15px;
		height: 15px;

	}
.clearfix {clear: both;}
.slide
	{
		border: 2px solid black;
	}
.logo{
	display: block;
	position: absolute;
	top: 12px;
	left: 50px;
	background: 7d7d7d;
	height: 75px;
    width: 165px;
    line-height: 70px;
    text-align: center;
    float: left;
}.anchor{
	display: block;
    text-align: right;
}
.heder{
	background: #d7d7d7;
    position: relative;
}
.anchors a {
    display: inline-block;
    color: #e2e2e2;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    padding: 20px;
    margin-left: -4px;
}










.footer-pagination .twit
{
	background: url(../img/sprite1.png) 0 -154px no-repeat;
	display: inline-block;
	width: 75px;
	height: 75px;
}
.footer-pagination .facebook
{
	background: url(../img/sprite1.png) -76px 0px no-repeat;
	display: inline-block;
	width: 75px;
	height: 75px;
}
.footer-pagination .vk
{
	background: url(../img/sprite1.png) -228px -75px no-repeat;
	display: inline-block;
	width: 75px;
	height: 75px;
}
#contact{
	background: #cfdaec;
}
#catalog{
	background: #cfdaec;
}
#info{
	height: 400px;
	background: #cfdaec;
}