ul {
list-style-image: url(../img/Untitled-1.png);
	
	
}

.block{
		width:400px;
		height: 400px;
		background: green;
		padding: 50px;
		margin-left: 50px;
		border: 10px solid red;
}
.brain{
	opacity: 0.8;
}
.divimg{
	box-shadow: inset -33px 20px 31px 8px red; 
	/*width: 300px;
	overflow: scroll;*/
}	
.text-shadow{
	text-shadow: 2px -3px 5px green;
	border: 8px groove yellow;
	border-radius: 25px 25px 25px 25px;
}
.colortest{
	background: repeating-linear-gradient(to left, green, grey 150px, black, red 200px);
}
.transform-test{
	border:  4px double black;
	transform: skewX(30deg);
}