/* line 7, ../sass/_main_style.scss */
.cancel {
  background: rgba(155, 1, 129, 0.7);
  color: #FFFFFF;
  border: none;
  border-radius: 15px;
  padding: 10px 15px;
}

/* line 14, ../sass/_main_style.scss */
.save {
  @exend .cancel;
  background: #9b0181;
}

/* line 18, ../sass/_main_style.scss */
button {
  color: green;
}

/*@function grid-width($n){
	@return $n*$grid-width+($n - 2)*$gutter-width;
}
*/
/*.text{
	outline: 1px solid black;
	width: grid-width(5);
}
*/
/* line 54, ../sass/_main_style.scss */
h1 {
  /*@include large-text;
  @include blue-border(blue, 5px);*/
  color: #ff0000;
  background-color: #00ff00;
  border-color: #0000ff;
}

/* line 59, ../sass/_main_style.scss */
P {
  /*@include blue-border(blue);*/
  border: 1px solid;
}

/* line 66, ../sass/_main_style.scss */
.item-1 {
  width: 2em;
}

/* line 66, ../sass/_main_style.scss */
.item-2 {
  width: 4em;
}

/* line 66, ../sass/_main_style.scss */
.item-3 {
  width: 6em;
}

/* line 69, ../sass/_main_style.scss */
.item-6 {
  width: 12em;
}

/* line 69, ../sass/_main_style.scss */
.item-4 {
  width: 8em;
}

/* line 69, ../sass/_main_style.scss */
.item-2 {
  width: 4em;
}
